* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", Times, serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-size: 15px;
    margin: 1.25rem;
}

.container {
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    width: 400px;
    
}

img {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

p{
    margin-bottom: 1rem;
    color: hsl(220, 15%, 55%);
}
@media (min-width: 500px;)
{
    .container 
    {
    width: 400px;
    }
}
    
